
.navbar {
    background-color: #ffffff; /* Color de fondo */
  }
  
  .navbar-brand {
    font-weight: bold; /* Texto en negrita */
  }
  
  .nav-link {
    color: #000000; /* Color del texto */
  }
  
  
  .container {
    padding-top: 20px; /* Espaciado superior */
    padding-bottom: 20px; /* Espaciado inferior */
  }
  
  
  h1, h2 {
    color: #333333; /* Color del texto */
  }
  
  
  .footer {
    background-color: #f8f9fa; /* Color de fondo */
    padding: 20px 0; /* Espaciado interior */
    text-align: center; /* Alineación centrada */
  }